* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}
body {
    color: white;
    background-color: black;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 128px;
}
.nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.nav logo {
    margin-right: auto;
}

.nav ul li {
    margin: 2rem;
}

.nav a {
    text-decoration: none;
    color: white;
}
 #top {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        text-align: center;
        font-size: 2rem;
        /* display: none; */
    }
    input {
        text-align: center;
        border-radius: 50px;
        padding: 5px 0px;
    }
    h2 {
        margin-bottom: 0.5rem;
    }
    .input {
        margin: 1.2rem 0;
    }
    .submit_class {
        margin-top: 40px;
        text-decoration: none;
        text-align: center;
        border: 3px solid red;
        border-radius: 25px;
        background: white;
        color: black;
        padding: 10px 15px;
    }
    .submit_class a{
        text-decoration: none;
        color: black;
    }
    .submit_class:hover {
        background: aqua;
    }
    #pseudotop{
        display: none;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
        height: 80vh;
        justify-content: center;
        align-items: center;
        grid-row-gap: 2rem;
        text-align: center;
    }


    #pseudotop h1{
        
        font-size: 2.5rem;
        padding: 1rem 0.5rem;
        background-color: grey;
        color:black;
        margin: 0.5rem 3rem;
        border-radius:10px;
        box-shadow: 3px 3px 10px grey;
        border:2px solid black
    }
    #pseudotop a{
        text-decoration: none;
    }
    #pseudotop h1:last-child{
        background-color: white;
        padding:0.5rem 0.5rem;
        border-radius: 30px;
    }
    .reset{
        grid-row:3;
        grid-column: 3/5;
    }
    .head{
        font-size: 2rem;
        margin-top: 2rem;
        grid-row:1;
        grid-column: 1/8;
    }

@media screen and (max-width: 768px) {
    #top {
        
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        text-align: center;
        font-size: 1.3rem;
        /* display: none; */
    }
    input {
        text-align: center;
        border-radius: 50px;
        padding: 5px 0px;
    }
    h2 {
        margin-bottom: 0.5rem;
    }
    .input {
        margin: 1.2rem 0;
    }
    .submit_class {
        margin-top: 40px;
        text-decoration: none;
        text-align: center;
        border: 3px solid red;
        border-radius: 25px;
        background: white;
        color: black;
        padding: 10px 15px;
    }
    .submit_class a{
        text-decoration: none;
        color: black;
    }
    /* .submit_class a:hover {
        background: aqua;
    } */
    #pseudotop{
        display: none;
        grid-template-columns:50% 50%;
        height: 80vh;
        justify-content: center;
        align-items: center;
        grid-row-gap: 2rem;
        text-align: center;
    }


    #pseudotop h1{
        
        font-size: 2.5rem;
        padding: 1rem 0.5rem;
        background-color: grey;
        color:black;
        margin: 0.5rem 2.6rem;
        border-radius:10px;
        box-shadow: 1px 1px 10px white;
    }
    #pseudotop a{
        text-decoration: none;
    }
    #pseudotop h1:last-child{
        background-color: white;
        padding:0.5rem 0.5rem;
        border-radius: 30px;
    }
    .reset{
        grid-row:5;
        grid-column: 1/3;
    }
    .head{
        margin-top: 2rem;
        grid-row:1;
        grid-column: 1/3;
    }
    
}
