@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: black;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 128px;
}
.nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.nav logo {
    margin-right: auto;
}

.nav ul li {
    margin: 2rem;
}

.nav a {
    text-decoration: none;
    color: white;
}

.user_input {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    background-color: black;
    text-align: center;
    font-size: 1.5rem;
}
input {
    text-align: center;
    border-radius: 50px;
    padding: 5px 0px;
    /* font-size: 1rem; */
}
h2 {
    /* font-size: 1rem; */
    margin-bottom: 0.5rem;
    background: #12c2e9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.input {
    margin: 1.2rem 0;
    background-color: black;
}
.submit_class {
    font-size: 1.2rem;
    margin: 40px 100px 0 100px;
    text-decoration: none;
    text-align: center;
    border: 3px solid red;
    border-radius: 25px;
    background: white;
    color: black;
    padding: 12px 15px;
    grid-column: 2/3;
}
.submit_class a {
    text-decoration: none;
    color: black;
}
.submit_class:hover {
    background: aqua;
}
#pseudotop {
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 90vh;
    justify-content: center;
    align-items: center;
    grid-row-gap: 2rem;
    text-align: center;
}

#pseudotop h1 {
    font-size: 1.3rem;
    padding: 1rem 0.5rem;
    background: #12c2e9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    margin: 0.5rem 3rem;
    border-radius: 10px;
    box-shadow: 1px 1px 10px white;
    border: 4px solid black;
}
.back {
    background-color: black;
    margin: 1rem 0.4rem;
    padding: 0.5rem 0;
    border-radius: 50px;
}
#pseudotop a {
    text-decoration: none;
}
#pseudotop h1:last-child {
    background-color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 30px;
}
.reset {
    grid-row: 3;
    grid-column: 3/5;
}
.head {
    background: #12c2e9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 2rem;
    margin-top: 2rem;
    grid-row: 1;
    grid-column: 1/8;
}

@media screen and (max-width: 768px) {
    .user_input {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        text-align: center;
        font-size: 1.3rem;
        /* display: none; */
    }
    input {
        text-align: center;
        border-radius: 50px;
        padding: 5px 0px;
    }
    h2 {
        margin-bottom: 0.5rem;
    }
    .input {
        margin: 1.2rem 0;
    }
    .submit_class {
        margin-top: 40px;
        text-decoration: none;
        text-align: center;
        border: 3px solid red;
        border-radius: 25px;
        background: white;
        color: black;
        padding: 10px 15px;
    }
    .submit_class a {
        text-decoration: none;
        color: black;
    }
    /* .submit_class a:hover {
        background: aqua;
    } */
    #pseudotop {
        display: none;
        grid-template-columns: 50% 50%;
        height: 120vh;
        justify-content: center;
        align-items: center;
        grid-row-gap: 2rem;
        text-align: center;
    }
    .back {
        background-color: black;
        margin: 0rem 1rem;
        border-radius: 25px;
    }

    #pseudotop h1 {
        font-size: 2.5rem;
        padding: 1.5rem 1rem;
        background-color: grey;
        color: black;
        margin: 0;
        border-radius: 10px;
        box-shadow: 1px 1px 10px white;
    }
    #pseudotop a {
        text-decoration: none;
    }
    #pseudotop h1:last-child {
        background-color: white;
        padding: 0.5rem 0.5rem;
        border-radius: 30px;
    }
    .reset {
        grid-row: 5;
        grid-column: 1/3;
    }
    .head {
        margin-top: 2rem;
        grid-row: 1;
        grid-column: 1/3;
    }
}
